.card{
    width: 18rem;
}
.card-title{
    font-weight: bold;
}
.me-auto{
    font-size: 20px;
}
.toast-body{
    font-size: 18px;
}
.toast-container{
    z-index: 5;
    width: 95vw;
    max-width: 95vw; 
    font-size: 5px;
}
.toast{
    background-color: #fff;
            border: 1px solid #ddd;
            width: 100%;
            padding: 20px;
}
@media (max-width:500px){
    .toast-container{
        position: fixed;
        top: 10vh;
        height: 70vh;
        overflow: scroll;
        align-items: center;
    }
}